<div class="container">
    <div class="vertical-center">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <h1>Logout!</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    <h2>Log me out ...</h2>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-raised-button class="btn btn-primary" (click)="onLogout()">Logout</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>