<!--
     * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     This is a starter component and can be deleted.
     * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     Delete this file and get started with your project!
     * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     -->
<div>
    <div class="container">
        <!--  WELCOME  -->
        <div id="welcome">
            <h1>
                <span> Hello there, </span>
                Welcome to {{APP_NAME}}👋
            </h1>
        </div>
        <!-- Content -->
        <div>
            <h2>
                Unlock Your Full Learning Potential with Science-Backed Techniques
            </h2>
            <h3>
                Are you tired of forgetting important information shortly after you've learned it? Do you struggle to
                retain the knowledge and skills that are crucial to your personal and professional growth? You're not
                alone, but we have a solution for you!
            </h3>

            <h4>
                Introducing {{APP_NAME}}, the revolutionary application designed to leverage the power of the Ebbinghaus
                forgetting curve to supercharge your memory and learning abilities.
            </h4>

            <h2>
                What is the Ebbinghaus Forgetting Curve?
            </h2>
            <h3>
                The Ebbinghaus forgetting curve, a fundamental principle of memory retention, shows that we tend to
                forget newly acquired information rapidly, but the rate of forgetting can be significantly reduced with
                the right techniques. At {{APP_NAME}}, we've harnessed this scientific insight to help you remember and
                recall information with greater ease.
            </h3>

            <h2>
                How {{APP_NAME}} Works
            </h2>
            <h3>
                Our app uses a blend of cutting-edge technology and cognitive psychology to help you learn more
                effectively.
                Here's what {{APP_NAME}} can do for you:
                <ul>
                    <li>
                        <strong>Personalized Learning:</strong> Tailored to your unique learning style and pace, our app
                        adapts to your needs,ensuring you get the most out of your study sessions.
                    </li>
                    <li>
                        <strong>Spaced Repetition:</strong> We'll remind you to revisit and reinforce what you've
                        learned at precisely the right time to optimize your memory retention.
                    </li>
                    <li>
                        <strong>Interactive Quizzes:</strong> Put your knowledge to the test with engaging quizzes and
                        exercises designed to reinforce your learning.
                    </li>
                </ul>
            </h3>
            <h2>
                Why Choose {{APP_NAME}}?
            </h2>
            <h3>
                <ul>
                    <li>
                        <strong>Proven Results:</strong> The Ebbinghaus forgetting curve is a time-tested principle in
                        memory retention,and {{APP_NAME}}'s application of this concept has helped countless individuals
                        boost their learning and recall abilities.
                    </li>
                    <li>
                        <strong>User-Friendly Interface:</strong> Our app is designed with simplicity and effectiveness
                        in mind. You don't need to be a memory expert to benefit from it.
                    </li>
                    <li>
                        <strong>
                            Accessible Anytime, Anywhere:
                        </strong>
                        {{APP_NAME}} is available on all your devices, making it easy to integrate into your daily
                        routine.
                    </li>
                    <li><strong>Start for Free:</strong>Try {{APP_NAME}} today with our free trial and experience the
                        difference for yourself.
                    </li>
                </ul>
            </h3>
        </div>
    </div>
</div>